<h1>Eat-da-Burger!</h1>

<h2>Burgers that have not been eaten:</h2>

<ul>
  {{#each burgers}}
    {{#unless is_eaten}}
      {{> burgers/burger-block eat=true}}
    {{/unless}}
  {{/each}}
</ul>

<h2>Burgers that have been eaten:</h2>

<ul>
  {{#each burgers}}
    {{#if is_eaten}}
      {{> burgers/burger-block eat=false}}
    {{/if}}
  {{/each}}
</ul>

<h2>Add a burger</h2>
<form class="create-form">

  <div class="form-group">
    <label for="ca">Burger Name:</label>
    <input type="text" id="ca" name="name">
  </div>

  <div class="form-group">
    <label for="is_eaten">Have you had this burger before?</label><br>
    <input type="radio" name="is_eaten" value="1" checked> I've eaten it!<br>
    <input type="radio" name="is_eaten" value="0"> I have not eaten it!
  </div>

  <button type="submit">Add-da-burger!</button>
</form>
