li {
  padding: 5px;
  margin: 5px;
  background: #faebd7;
}

.label {
  font-weight: bold;
}

.create-update-form {
  padding: 5px;
  margin: 5px;
  background: aqua;
}

.form-group {
  margin-bottom: 5px;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f0eea6;
}

#mainJumbotron {
  text-align: center;
}

#mainImg {
  width: 100px;
  margin-right: 20px;
}

ul {
  list-style-image: url("../img/burger-ul.png")
}

h4 {
  text-align: center;
}

#burgerSubmission {
  text-align: center;
}